%h3 Add Some Photos
%p Adding photos will help you get better leads
-puts S3DirectUpload.config.inspect
=s3_uploader_form callback_url: upload_file_photo_set_piece_path(@item), remote: :true, callback_param: "photo_set_piece[image_url]", id: "s3-uploader" do
  %div#test
    .wrapper
      =file_field_tag :file
  %a.close-reveal-modal ×
  %script#template-upload{:type => "text/x-tmpl"}
    .upload{:id => "file-{%=o.unique_id%}"}
      {%=o.name%}
      .progress
        .bar{:style => "width: 0%"}
#photos
  =render :partial => 'photos'
