=form_for :photo_set_piece, url: photo_set_pieces_path do |f|
  .row
    .large-12.columns
      =f.label :shop_urls
      =f.text_field :shop_urls
      =f.hidden_field :collections, :value => [], :id => 'photo-collections'
      =f.text_field :image_date, :class => "datetimepicker", :placeholder => "image date"
      =f.submit "save", :class=>"button large"

    .large-8.medium-4.columns

=select_tag "collections", options_from_collection_for_select(Collection.all, "id", "name")

:javascript
  $(document).on('ready page:load', function(){
    $('.datetimepicker').datetimepicker();

    initialize();

  });
  $('#collections').change(function() {
    if($('#photo-collections').val().length > 0) {
    arr=[$('#photo-collections').val()];
    }
    else {
    arr = [];
    }


    arr.push($(this).val());
    $('#photo-collections').val(arr);
    console.log($('#photo-collections').val());
  });
