
.row
  .large-8.medium-7.columns
    %h4=@item.title
    #photo
      =render :partial => 'photos'

  .large-4.medium-5.columns
    %h4 Artwork Details

:javascript
  setInterval(rotate,5000);

  function rotate() {
    console.log('jey');
    $('#photo').children().rotateRight(90);
  }
