.embed-container
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :src => 'https://www.youtube.com/embed/'+url_video.video_id, :webkitallowfullscreen => "", :width => "100%"}
