.contain-to-grid.fixed
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li
        %h1
          .hide-for-small
            %i.fi-star{:style=>"font-size: 30px;position:relative;top:3px;  margin-right: 4px;margin-left: 8px;"}
            =link_to 'CrazyDancingGuy', root_path
          .show-for-small-only
            =link_to root_path do
              %i.fi-star{:style=>"font-size: 30px;position:relative;top:3px;  margin-right: 4px;margin-left: 8px;"}
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.divider
        %li.has-dropdown.small-dropdown
          %a{:href => "/causes"} Causes
          %ul.dropdown.m-menu
            %li=link_to 'Climate Justice', '/climate-justice'
            %li=link_to 'Social Justice', '/social-justice'
            %li=link_to 'Gender Equality', '/gender-equality'

        %li.divider
        %li.has-dropdown
          %a{:href => "/videos"} Videos
          %ul.dropdown.m-menu
            %li
              .row.column.padless

        %li.divider
        %li.has-dropdown.small-dropdown
          %a{:href => "/brain-fun"} Projects
          %ul.dropdown.m-menu


      %ul.right
        -if user_signed_in?
          %li.divider
          %li{:style => "background-color: #835B9F;"}
            .post-button
              %i.fi-plus
              %span post
          %li.divider
          %li.has-dropdown.small-dropdown
            =link_to current_user.username, user_path(current_user.username)
            %ul.dropdown.m-menu
              %li
                %ul
                  %li=link_to "logout", destroy_session_path(:user), :method => :delete
        -else
          %li
            %a{"data-reveal-id" => "login", :href => "#"} Login
          %li
            =link_to 'Signup', new_user_registration_path
  #mobile-login.show-for-small-only
    %ul
      -if user_signed_in?

      -else
        %a{"data-reveal-id" => "login", :class=>'button tiny',:href => "#"} Login
        =link_to 'Signup', new_user_registration_path, :class=>'button tiny'
