.row
  .large-12.columns
    %h3 What's this all about?
    %p The goal of this endeavor is to harness the energy I put into dancing and somehow convert it into a force for good in this world, specifically in relation to climate change, social justice and gender equality.  Most likely, I will fail, but it’s not going to hurt to try.  Read on for brief summaries of the what, why and how of this venture.

    %h4 What
    %p I’ve been called “crazy dancing guy” by a lot of people over the years.  When I go out dancing, people seem to enjoy watching me dance, and often record me doing so.  So this venture is me totally embracing the “CrazyDancingGuy” persona and seeing what I can do with it.  Perhaps, by some miracle, my dancing can earn me a megaphone to speak out for the things I care about or earn me money to support these important causes.


    %h4 Why
    %p Dancing is my primary hobby; I might even call it an obsession.  I spend an average of 7 or more hours a week dancing, and would surely do it even more often if I lived somewhere with a more steady flow of good music.  Meanwhile, most of the rest of my time is spent working for a better world, and for a long time, I’ve felt guilty taking breaks from those efforts to go out dancing.  With @CrazyDancingGuy, I hope I can do both at the same time.

    %p For specifics on why we need to be fighting for climate justice, social justice or gender equality, visit their corresponding pages.

    %h4 How
    %p Yeah, this is the tricky part.  My probably-delusional plan consists of three main parts:
    %ul
      %li wearing my @crazydancingguy gear anytime I'm out dancing, while encouraging people to film and share my dance moves to raise awareness about The Causes
      %li producing weekly videos capturing my crazy dancing in various creative ways and using these to build a popular YouTube channel
      %li networking with organizations connected to the causes to help promote my message of spreading good through dance
    %p The general idea being that if I make any noise, or any money, I would be able to leverage those assets to support work on The Causes.  While very difficult to stand out amongst all the noise on the web, there are numerous instances of people generating considerable revenue from successful YouTube channels, and in general, unique dancing videos make for highly shareable content.

    %h4 Who/Where
    %p Right now, the who of this is just me, Alex, and I will be working on this principally in Ithaca, NY.  However, don’t be surprised if you see me dancing around NYC.

    %p Also, to get some practice making and marketing video on the web.

    %p Yes, this is a crazy plan.  In all likelihood, it will not work.  But it’s going to be fun to try, and if nothing else I am going to learn some new skills and have some fun along the way.
