:css
  .section {
    margin-bottom: 20px;
    background-color: #eee;
    padding: 6px 15px;
  }
  .title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .description {
    margin: 0px 0 10px 0;
    font-size: .95em;
    line-height: 1.2em;
  }

  .date {
    font-size:.85em;
    color: #666;
  }
  .google-font {
    font-size: 1.6em;
    font-weight: 600;
  }
  .blue {
    color: #4285f4;
  }
  .green {
    color: #34a853;
  }

  .red {
    color: #ea4335;
  }
  .yellow {
    color: #fbbc05;
  }
  .project {
    font-weight: 500;
    font-size: 1.1em;
    margin-left: 8px;
    margin-bottom: 6px;
  }

  label {
    font-size: 1.1em;
    font-weight: 500;
    color: #34a853;
  }

  a {
    font-size: 1.1em;
    color: #4285f4;

  }
  a:hover {
    text-decoration:underline;
    color: #4285f4;
  }

  ul {

  }
  li {

    margin: 0 10px 8px 0;
  }
.row
  .large-12.columns
  .google-font
    %span.blue H
    %span.red E
    %span.yellow L
    %span.blue L
    %span.green O
    %span.blue !

  .section
    .title Application Objectives
    .description I am applying to a job at Google for a lot of reasons, but these are the primary ones:
    %ul
      %li To experience what it's like working as part of a team of really intelligent and innovative people.
      %li To lend my considerable abilities towards projects that will positively impact people across the globe.
  .section
    .title Skills
    .description
      I was natured or nurtured some handy skills:
    %ul
      %li When it comes to building web apps, I play with one of the fullest stacks you’ll encounter; not only can I develop, deploy and manage a website, I can also invent the concept, design the product, plan monetization strategies and contribute creative content for marketing efforts.
      %li More generally, I possess excellent analytical and problem solving skills, strong oral and verbal communication skills, a speedy CPU, and off-the-chart creative abilities (unless its a pie graph, no escaping that chart).
  .section
    .title Resume Design
    .description
      This resume is designed to illustrate 3 things:
    %ul
      %li I am obsessed with developing new things that don't exist
      %li My creative abilities are as exceptional as they are varied
      %li Intellectually, I am versatile and good at mostly anything I work at
  .section
    .title Consider how I chose to spend the last 15 months of my life:
    .description
      .date 9/14-10/14
      .project
        Developed a platform for
        =link_to 'crowd-sourced creative content and contests of wit and imagination', 'http://limitless-ravine-5616.herokuapp.com/'
      .date 11/14
      .project Taught myself Java and developed an Android version of above web app (no live link)
      .date 12/14
      .project
        Played around with my
        =link_to '@CrazyDancingGuy','http://crazydancingguy.com'
        concept.  Built basic website, recorded and published first round of videos to YouTube
      .date 1/15
      .project
        Developed
        =link_to 'GoodLuckTest.com', 'http://goodlucktest.com'
        a silly tool for competing against the web in matters of luck
      .date 1/15-2/15
      .project
        Recreated an old flash-based app, a
        =link_to 'community platform for hosting meals at your house', 'http://kitchen-swingers.herokuapp.com'
        and earning meal credits for everyone you feed.

      .date 2/15
      .project
        Recreated mobile-friendly version of a
        =link_to 'carbon offset purchase app','http://boiling-spire-1619.herokuapp.com/calculator'
        (using Google Places API)
      .date 3/15
      .project
        Built back-end and bare-bones interface for a
        =link_to 'website designed to gamify social impact','http://ripplz.herokuapp.com'
      .project Got distracted from previous project by a 3 day binge exploring an app that would use version control techniques to facilitate recipe development and modification.
      .project Spring comes, and my mind shifts to my various permaculture projects.
      .date 4/15
      .project I decide to start process of turning my place into a mini urban farm and operating a neighborhood farmstand; built a basic app for ordering from farmstand online.
      .date 5/15-7/15
      .project Experiment with farmstand while serving as sole developer and tech consultant for a NYC-based real estate start-up
      .date 6/15
      .project
        Daily urban foraging and basic rebuilding of an
        =link_to 'old web property I own', "http://freeonlinetypinggames.com"
      .date 8/15-9/15
      .project Took sole rental control of the place I live and converted it into a basic bed & breakfast
      .date 9/15-11/15
      .project
        Decided to build a
        =link_to 'suite of fantasy games surrounding the upcoming election','http://presidentialelectiongames.com'
        , including two that gamify watching the live debates.
      .date 11/15-12/15
      .project
        Rebuilding/reimagining an
        =link_to 'abandoned web property of mine.', 'http://playwithyourmind.com'
        Introducing live, global IQ battles.

      .date 12/15
      .project
        Rebuilding
        =link_to 'crazydancingguy.com','http://crazydancingguy.com'
        and producing more videos

  .section
    .title Some notable things from the 10 years previous to that:
    .description
      %label
        Founder/CEO, Swidjit
      %span
        =link_to 'Swidjit','http://swidjit.com'
        was my attempt to create a local hub for promoting, discovering and sharing peer and community resources; essentially, an evolution of Craigslist.  I worked on it for 3 years, but ultimately was not able to attract the money or talent I needed to make it work (though I worked with many interns and volunteers throughout the process, I never had any regular help, and this obviously held me back). Still, if developing a new style of social media with several thousand local users is something I am capable of doing largely on my own without experience, imagine what I could do as part of a talented team of people who really know what they’re doing?
      %hr
      %label
        Co-Founder, Kitchen Swingers
      %span
        Along with a friend in town, we developed a community meal-exchange / social club we called Kitchen Swingers.  I made the original Flash app and then worked with my friend to get it established in a small group of people.  We got it up to 3-5 meals a week and about 60 users before summer came, momentum sputtered, and I turned my attention towards Swidjit.
      %hr
      %label
        PlayWithYourMind.com
      %span
        In my first real web venture,  I designed and developed 100+ brain games, puzzles and exercises over a 3-4 year period.  In this capacity I spent a great deal of time learning and analyzing how our minds work.

  .section
    .title Education
    .description
      My parents hooked me up with a six-figure Ivy League education, and I’ve never even gotten a chance to put that on a resume, so this one’s for you Mom & Dad:
    .project
      B.S., Cornell, Neurobiology & Behavior - 2001

  .section
    .title Hobbies
    .description Lest you get the impression that my creativity is limited to building games and websites, meet my hobbies:
    .row
      .large-7.medium-7.columns
        %label Abstract Photography & Frost Engineering
        .description Over the past 15 years, at a pace of about 3 all-night creative binges per winter, I have developed a host of processes for creating some pretty trippy abstract photoscapes.  What started with distorting christmas lights with plastic cutting boards has evolved over time into a process for engineering frost and ice formations to manipulate light and color.  Here are a few images from the past few years, straight off the camera lens, without any computer manipulation.
        .img=image_tag('art_1.png')
        .img=image_tag('art_2.png')
        .img=image_tag('art_3.png')
        .img=image_tag('art_4.png')

      .large-5.medium-5.columns
        %label Freestyle Dance
        .description I also have a fun and unique style of dance that has earned me a degree of local fame here as the crazy dancing guy.  Recently, I have been working towards taking my act to the internet in support of environmental and social change.  My dancing is relevant to this resume as it not only shows another manifestation of my unusual creative abilities, but my freestyle methods are a good visual example of how my brain can mash together concepts in real time.  No, my ability to develop new dance moves on the fly won’t help you at all, but fortunately my mind works the same way when developing an idea or solving a problem: quickly and creatively assimilating and analyzing information from numerous sources
        .embed-container.text-center
          %iframe{:allowfullscreen => "",:frameborder => "0",:src => "https://www.youtube.com/embed/LhtU6-2g4OU"}
        .embed-container.text-center
          %iframe{:allowfullscreen => "",:frameborder => "0",:src => "https://www.youtube.com/embed/d8avyn6E8uo"}
        %label Permaculture
        .description Over the past 6 years, I have established 3 permaculture sites where I am converting lawn to edible forest garden.  My main site in CT has nearly 100 edible, perennial plants producing fruits, veggies, nuts, medicines and more.  I love the challenge and reward of designing an ecosystem.

        .img=image_tag('garden_before.png')
        %p 2009

        .img=image_tag('garden_after.png')
        %p 2014

  .section
    .title Job Ideas
    .description
      Since none of the jobs I am applying to are perfect fits, here's a few ideas for work I could do for Google.
    %label
      Rapid Prototype Developer, Google STOP (Save This Outstanding Planet)
    %span
      At Google STOP, we are constantly playing with new ideas as to how software and technology can make the world a more just and sustainable place.  As a Rapid Prototype Manager, you would be in charge of a small team of designers and developers prototyping new products on a daily, weekly or monthly timeframe.  Responsibilities will also include preparing potential social/environmental impact statements for each product developed.
    %hr
    %label
      Roving Product Design Consultant
    %span
      Google loves to build new things, and at any given time we have thousands of projects under development.  As a Roving Product Design Consultant, you will spend a few hours or a few weeks working with projects across the company and lending your design and problem solving skills where needed.  This work will often include developing prototypes or mockups to illustrate features, processes, strategies, campaigns, etc as needed.
    %hr
    %label
      Co-Founder, Google Permaculture
    %span
      We at Google recognize that changes in agriculture and land use are an important part of the fight against anthropogenic climate change, and as such, we want to do everything we can to spread the practice of permaculture.  As Co-Founder of this new program, your primary responsibilities will essentially be two-fold:  analysis and design of permaculture opportunities on Google campuses throughout the world, and designing/overseeing a new Google permaculture app to facilitate the learning, practice and spread of this land design principle.
    %hr
    %label
      Team Member, Low-Carbon Behavioral Design
    %span
      Even as we work to migrate all our data to centers powered by renewable energy, we recognize that a big part of fighting climate change is migrating our lifestyles so that we consume less carbon.  As a member of LCBD, you will have your fingers in a few different things.  Primarily, you will analyze existing products and make design recommendations for reducing the footprint of the product or changing the carbon consumption behaviors of the user.  You will also be asked to spend time fleshing out ideas for potential new products that could have widespread impact on the public’s behavior where carbon waste is concerned.
  .section
    .title Code Version
    .description For those of you that prefer code to English:
    .row
      .large-12.columns
        MyApplication extends Google.Application
      .large-12.columns{:style=>'margin-left:12px;'}
        %div //Globals
        %div $MY_SKILLS = ['Product Design','Web Development','User Experience Design','Creative Problem Solving', 'Strategy & Planning']
        %div $MY_OBJECTIVES = ['Climate Justice','Social Justice','Gender Equality','To build cool and meaningful technology']
        %div $MY_HOBBIES = ['Freestyle Dance','Permaculture','Abstract Photography','Cooking']
        %div $MY_LANGUAGES = ['English','Ruby','Javascript/jQuery','HTML/CSS','PHP','Java']
        %br
        %br
        %div public void MyApplication(Application myApp) {
      .large-12.columns{:style=>'margin-left:25px;'}
        %div //i'm good enough and smart enough and gosh darnit people like me
        %div super(me);
        %br
        %div //load in basic info
        %div myApp.setHeaders($MY_SKILLS, $MY_OBJECTIVES, $MY_HOBBIES, $MY_LANGUAGES);
        %br
        %div //set the perfect tonal balance for the cover letter
        %div myApp.cover_letter.setDefaultStyle(Style.innovative);
        %div myApp.cover_letter.setDefaultStyle(Style.intelligent, 0.3);
        %div myApp.cover_letter.addStyle(Style.playful,0.1);
        %div myApp.cover_letter.addStyle(Style.mysterious,0.1);
        %br
        %div //now, seal the deal with that killer resume
        %div myApp.resume.setDefaultStyle(Style.creative);
        %div myApp.resume.addStyle(Style.versatile,0.3);
        %div myApp.resume.addStyle(Style.prolific,0.2);
        %div myApp.resume.addStyle(Style.playful,0.1);
        %br
        %div //an ivy league degree I never even use to my advantage... hello male white privilege
        %div myApp.resume.addEduction('BS','Cornell','Neurobiology & Behavior','2001')
        %br
        %div searchAndApply(myApp);
      .large-12.columns{:style=>'margin-left:12px;'}
        %div }
        %br
        %div public searchAndApply(myApp) {
      .large-12.columns{:style=>'margin-left:25px;'}
        %div // silicon valley sounds amazing ... but I like rain and water
        %div var search_params = {:locations=>'NYC,Boston,Philadelphia,Washington', :teams=>'Product Management, Social Impact, Business Strategy, Engineering & Design'}

        %div //crossing my Ts ... and my fingers
        %div System.triple_check_for_embarassing_typos([myApp.cover_letter,myApp.resume])

        %div $.get(
      .large-12.columns{:style=>'margin-left:37px;'}
        %div Google.careers,
        %div {params: search_params},
        %div function(data) {
      .large-12.columns{:style=>'margin-left:50px;'}
        %div data.jobs.each do |job|
      .large-12.columns{:style=>'margin-left:62px;'}
        %div if (job.has_role_in_designing_new_product || job.has_positive_social_impact) && job.seems_like_it_would_be_challenging_and_fun
      .large-12.columns{:style=>'margin-left:75px;'}
        %div myApp.apply({
        %div url: Google.headquarters,
        %div job:job.id,
        %div auth_token: 'nan0.n0ugat.n00dle',
        %div resume: 'im-so-experienced.pdf',
        %div cover_letter: 'i-love-you-wont-you-please-love-me.doc',
        %div },
        %div function(data) {
      .large-12.columns{:style=>'margin-left:87px;'}
        %div if(data.response_from_google == 'success') alert ('woooohoooo, they like me!');

        %div else applyToFacebook();
      .large-12.columns{:style=>'margin-left:75px;'}
        %div }
      .large-12.columns{:style=>'margin-left:62px;'}
        %div });
      .large-12.columns{:style=>'margin-left:62px;'}
        %div end
      .large-12.columns{:style=>'margin-left:50px;'}
        %div end
      .large-12.columns{:style=>'margin-left:25px;'}
        %div });
      .large-12.columns{:style=>'margin-left:12px;'}
        %div }