.row
  .large-12.columns
    %h3=@project.title
    .project-link=link_to 'check it out', @project.url

.row
  .large-7.columns
    %p=@project.description

    %h5 What can you do there
    %ul
      %li Play over 100 brain games and mind exercises
      %li Cognitive exercises to workout your memory and other mental skills
      %li Discover all sorts of brainteasers, optical illusions and other brain fun
      %li Compete in live competitions of intelligence with other players on the web.
    .project-link=link_to 'check it out', @project.url
  .large-5.columns.project-images
    =image_tag('luck_1.png')
    =image_tag('luck_2.png')
