-content_for :head do
  %title Brainy Fun | PlayWithYourMind | Brain Games, Puzzles, Optical Illusions & More
  %meta{:content => "Brainy Fun | Games, Puzzles, Optical Illusions & More", :property => "og:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "og:site_name"}
  %meta{:content => image_url('brain-games.png'), :property => "og:image"}
  %meta{:content => "Share and discover games, tests, illusions, and more to play with your mind!", :property => "og:description"}
  %meta{:content => "Brainy Fun | Games, Puzzles, Optical Illusions & More", :property => "twitter:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "twitter:site"}
  %meta{:content => image_url('brain-games.png'), :property => "twitter:image"}
  %meta{:content => "Share and discover games, tests, illusions, and more to play with your mind!", :property => "twitter:description"}
  %meta{:content => "summary", :property => "twitter:card"}
  %meta{:content => "Brainy Fun | Games, Puzzles, Optical Illusions & More", :property => "title"}
  %meta{:property => "description", :content => "Share and discover games, tests, illusions, and more to play with your mind!"}
.row
  .large-9.columns
    #posts
      %h4 Brain Fun
      -if params.has_key?(:tag)
        .breadcrumb

          =link_to "Posts", "/brain-fun/"
          >
          =link_to '#'+params[:tag], '/brain-fun/tags/'+params[:tag]


      -if @posts.size > 0
        = render @posts

      -else
        %p No listings
  .large-3.columns
    -case @cat
      -when 1
        %a.twitter-timeline{"data-widget-id" => "674737302011277312", :href => "https://twitter.com/search?q=-hoax%20-scam%20-plot%20-liberal%20%23climatechange%20OR%20%23climatejustice%20OR%20%23globalwarming"} loading tweets...
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      -when 2
        %a.twitter-timeline{"data-widget-id" => "674738823776063489", :href => "https://twitter.com/search?q=%23blacklivesmatter%20OR%20%23socialjustice%20OR%20%23equality%20OR%20%23equalrights%20OR%20%23humanrights%20OR%20%23whiteprivilege"} loading tweets...
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      -when 3
        %a.twitter-timeline{"data-widget-id" => "674739682538889217", :href => "https://twitter.com/search?q=%23genderequality%20OR%20%23heforshe%20OR%20%23womensrights%20OR%20%23equalpay%20OR%20%23wagegap%20OR%20%23maleprivilege"} loading tweets...
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

